/*Contact form section*/
section {
    Width: 50%;
    float: left;
    box-sizing: border-box;
    margin-top: 50px;
}

.contact-form-wrapper {
    padding-left: 100px;
    border-right: 2px solid #000;
}

.contact-form-wrapper iframe {
    width: 80%;
    height: 620px;
}

.map-wrapper iframe {
    width: 90%;
    height: 620px;
    margin: 0 auto;
    display: block;
}